
DATABASE_URL = "postgresql://postgres:123456@localhost:5432/urban-farming-db"
PORT = 5033

BACKEND_BASE_URL = "http://localhost:5033"
JWT_SECRET = "your jwt secret"
GEN_SALT = 10
EXPIRES_IN = 30d

SUPER_ADMIN_PASSWORD=123456
BCRYPT_SALT_ROUNDS=12

EMAIL= "your email"
APP_PASS= "your app pass"